.boy {
    text-align: right;
    color: white;
}

body {
    background-color: #111
}

#topright {
    float: right;
}

.topnav {
    background-color: #fff;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #000;
    background-color: #eee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.postwrapper {
    float: left;
    margin: 40px;
    padding: 10px;
    display: block;
    width: 600px;
    background-color: #222;
    color: white;
    border-radius: 1%;

}


#pimwrap {
    text-align: center;
}

#postimage {
    width: 595px;
}

#postdesc {
    background-color: #333;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

#posttext {
    background-color: #333;
    padding: 10px;
}

#avatarpost {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}