{% extends "user/layout.html" %}
{% load static %}
{% block head %}
    <title>Homepage</title>
{% endblock %}

{% block topnav %}
<a href="{% url 'user:index' %}">Network</a>
            {% if is_guest == 0 %}
                <a id="topright" href="{% url 'user:login' %}">Login</a>
                <a id="topright" href="{% url 'user:signup' %}">Sign Up</a>
            {% else %}
                <a id="topright" href="{% url 'user:logout' %}">Log Out</a>
                <a id="topright" href="{% url 'user:userpage' request.user.username %}">Your Page</a>
                <a id="topright" href="{% url 'user:newpost' %}">New Post</a>
            {% endif %}
{% endblock %}

{% block body %}
        {% for post in posts %}
        <div class="postwrapper">
            <div id="postdesc"><img id="avatarpost" src="{{ post.owner.avatar.url }}" alt="avatar">
        {{ post.owner.user.username }} 
        {% if post.location != None %}
            is in {{ post.location }} at {{ post.date }}:
        {% else %}
            posted at {{ post.date }}:
        {% endif %}
                </div>
            <div id="pimwrap"><img id="postimage" src="{{ post.image.url }}" alt="image"></div>
            <div id="posttext">{{ post.text }}</div>
        </div>
        {% endfor %}
        
{% endblock %}